body {
    background-image: url("Images/concrete-texture/concrete-texture.png");
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  
}

.main-col {
    background: #ffffff;
}


.logo {
    background: lightseagreen;
    font-weight: 700;
    font-size: 30px;

}



nav {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.myborder {
    border-left: 1px solid #999;
    line-height: 10px;
}

.navbar {
    background: white;
    border: none;
  }

.noborder {
    border: none;
}


body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


footer {
    position: static;
    height: 120px;
    bottom: 0;
    width: 100%;
    background: lightseagreen;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 50px;
    padding-top:20px;
}

.foot-format{
    
    background: dimgray;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}

h1, h2 {
    color: lightseagreen;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

.img {
    float:left;
    margin: 0px 20px 20px 0px; 
    height: 300px;
}

.submit {
    background: lightseagreen;
    
    
}

.float-left {
    float:left;
    margin-left: 20px;
}

.float-right {
    float:right; 
    margin-left: 20px;
}