<!-- About me col -->
            <div class="col-md-7 col-sm-12 col-xs-12 mt-5 p-5 main-col block">
                <!-- About me heading row -->
                <div class="row pl-3">
                    <h1>About Me</h1>
                </div>

                <hr>
                <!-- About me content section -->
                <div class="row p-3">
                    <p>
                        <img class="img" src="Images/myphoto.jpg" alt="Photo"> My name is Melia Nolen and I am from Shelby, NC. I went to the University of North Carolina at Wilmington
                        where I graduated with a bachelor of science in Mathematics and a minor in Statistics. I graduated
                        in three and a half years and went on to teach math at the high school I attended. After a year of
                        teaching, I decided to go to graduate school at UNCC for Master's in Mathematics. One semester into
                        the program, I made the decision to switch programs into the coding bootcamp.
                    </p>
                </div>

            </div>