<!-- About me col -->
<div class="col-md-7 col-sm-12 col-xs-12 mt-5 p-5 main-col block">
    <!-- About me heading row -->
    <div class="row pl-3">
        <h1>Portfolio</h1>
    </div>

    <hr>
    <!-- About me content section -->
    <div>
        <a href="https://melianolen.github.io/TrainScheduler/" target="_blank">Train Scheduler</a>
        <br>
        <a href="https://github.com/MeliaNolen/liri-node-app" target="_blank">Node App</a>
        <br>
        <a href="https://github.com/MeliaNolen/bamazon" target="_blank">bamazon</a>
        <br>
        <a href="https://afternoon-sierra-16692.herokuapp.com/" target="_blank">Friend Finder</a>
        <br>
        <a href="https://warm-tundra-82298.herokuapp.com/" target="_blank">Eat-Da-Burger</a>
        <br>
        <a href="https://damp-eyrie-15702.herokuapp.com/" target="_blank">Clicky Game</a>
    </div>

</div>